#folder-is-null{
    color:red;
}

#image-was-saved{
    color: green;
}

#counter{
    font-size: 100px;
}

#buttons-to-save-or-discard-image{
    display: flex;
}

#save-image-button{
    background-color: green;
    border: none;
    outline: none;
    color: white;
}

#discard-image-button{
    background-color: red;
    border: none;
    outline: none;
    color: white;
}

#image-saved-message{
    color:green;
    font-size: 50px;
}